.Tobpar {
  height: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.Tobbarwrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.Tobpar .logo {
  color: darkblue;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
}
.leftTopbar {
  display: flex;
  align-items: center;
}
.leftTopbar .listicons {
  display: flex;
}
.leftTopbar .listicons .icon {
  margin: 0 8px;
  cursor: pointer;
}
.leftTopbar .imageAdmin img {
  width: 40px;
  height: 40px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
